<div class="hero-unit">
	<h1>Welcome Person or Persons of Interest</h1>

	<p>You've found the home page for 
		
		<%= link_to "Find Me a Market", 'http://www.
			onemonthrails.com'%>
			App
	</p>
	<hr>

	<p> 
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div